<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bank</title>
  </head>
  <body>
<h1>Add new</h1>

<form  action="/posts/create" method="post">
<p><input type="text" name="title" ></p>
<p><input type="text" name="body" ></p>
<p><input type="submit"  value="add!"></p>
</form>

<p><a href="/">Go back</a></p>

</body>
</html>
